<div class="gantt-export">
 <input value="Экспортировать в Excel" type="button" class="gantt-export-excel">
 <input value="Экспортировать в PDF" type="button" class="gantt-export-pdf">
 <input value="Экспортировать в PNG" type="button" class="gantt-export-png">
</div>
<div id="gantt_here"></div>
<script type="text/javascript">
	window.current_project_id = "<%= @project.id %>";
	window.current_key = "<%= User.current.api_key %>";
</script>